@{
    ViewBag.Title = "KitabGoster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Entities.Models;
@model List<Kitablar>

<h2>KitabGoster</h2>

@section head{
<link href="/Content/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/Content/Admin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
}        
<br />
<br />
<h2>KitabGoster</h2>
<section class="panel">
                  <header class="panel-heading">
                      Kitablari Goster
                  </header>
                  <div class="panel-body">
                      <div class="adv-table editable-table ">
                          <div class="clearfix">
                              <div class="btn-group">
                                <a class="btn btn-shadow btn-success ekle" href="/Kitab/Ekle">Yeni Kitab&nbsp<i class="icon-plus"></i></a>
                              </div>
                          </div>
                          <br />
                          <br />
                          <br />
                          <div class="space15"></div>
                          <table class="table table-striped table-hover table-bordered" id="editable-sample">
                              <thead>
                              <tr>
                                  <th>Barkod Numarasi</th>
                                  <th>Adi</th>
                                  <th>Aciklamasi</th>
                                  <th>Kategori Adi</th>
                                  <th>Fiyat</th>
                                  <th>Miktar</th>
                                  <th>Vereq Sayi</th>
                                  <th>Yayin Evi</th>
                                  <th>Yazar</th>
                                  <th>Resmi Goster</th>
                                  <th>Edit'le</th>
                                  <th>Sil</th>
                              </tr>
                              </thead>
                              <tbody>
                                  @foreach (Kitablar k in Model)
                                  {
                                  <tr class="">
                                     <td>@k.BarkodNo</td>
                                     <td>@k.KitabAdi</td>
                                     <td>@k.KitabAciklamasi</td>
                                      @foreach (Kategoriler kat in ViewBag.Kategori)
                                      {
                                          if (kat.Id==k.KategoriID)
                                          {
                                              <td class="center">@kat.KategoriAdi</td>
                                          }
                                          else
                                          {
                                              <td class="center">Kategorisi Yok</td>
                                          }
                                      }
                                      @foreach (FerdiTedarikci ft in ViewBag.Ferdi)
                                      {
                                          if (ft.TedarikciID==k.TedarikciID)
                                          {
                                              <td>@ft.Adi+@ft.Soyad</td>
                                          }
                                      }
                                      @foreach (SirketTedarikci st in ViewBag.Sirket)
                                      {
                                          if (st.TedarikciID==k.TedarikciID)
                                          {
                                              <td>@st.SirketAdi</td>
                                          }
                                      }
                                      <td>@k.Fiyati</td>
                                      <td>@k.Miktar</td>
                                      <td>@k.VereqSayi</td>
                                      <td>@k.YayinEvi</td>
                                      @foreach (Yazarlar y in ViewBag.Yazar)
                                      {
                                          if (y.Id==k.YazarID)
                                          {
                                              <td class="center">@y.YazarAdi</td>
                                          }
                                          else
                                          {
                                              <td class="center">Yazari Yok</td>
                                          }
                                      }
                                      <td><a class="fancybox" href="@k.KitabResim"><i class="icon-eye-open"></i></a></td>
                                     <td><a class="btn btn-shadow btn-success" href="/Kitab/Duzenle/@k.Id">Edit'le</a></td>
                                     <td><a class="btn btn-shadow btn-danger sil" data-id="@k.Id">Sil</a></td>
                                  </tr>
                                  }
                              
                              </tbody>
                          </table>
                      </div>
                  </div>
              </section>
@section scripts{
    <script src="../../Content/Admin/js/jquery.js"></script>
    <script src="/Content/Admin/assets/fancybox/source/jquery.fancybox.js"></script>
    <script type="text/javascript">
        $(function () {
            //    fancybox
            jQuery(".fancybox").fancybox();
        });

        $(".sil").click(function () {
            alert("Selam");
            var Id = $(this).data("id");

            $.ajax({
                url: "/Kitab/Sil",
                type: "POST",
                data: { id: Id },
                success: function (veri) {
                    alert(veri + "Isimli Silindi");
                }
            })
        })

  </script>
}

