@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@using Entities.Models;
@model List<Iskiler>

@section head{
<link href="/Content/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/Content/Admin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
}        
<br />
<br />
<h2>IsciGoster</h2>
<section class="panel">
                  <header class="panel-heading">
                      Iscilerilari Goster
                  </header>
                  <div class="panel-body">
                      <div class="adv-table editable-table ">
                          <div class="clearfix">
                              <div class="btn-group">
                                <a class="btn btn-shadow btn-success ekle" href="/Iskiler/Ekle">Yeni Isci&nbsp<i class="icon-plus"></i></a>
                              </div>
                          </div>
                          <br />
                          <br />
                          <br />
                          <div class="space15"></div>
                          <table class="table table-striped table-hover table-bordered" id="editable-sample">
                              <thead>
                              <tr>
                                  <th>Adi</th>
                                  <th>Soyadi</th>
                                  <th>Maasi</th>
                                  <th>Adress</th>
                                  <th>PostaKodu</th>
                                  <th>Telefon No</th>
                                  <th>Web Sitesi</th>
                                  <th>Dogum Tarihi</th>
                                  <th>Resmi Goster</th>
                                  <th>Edit'le</th>
                              </tr>
                              </thead>
                              <tbody>
                                  @foreach (Iskiler i in Model)
                                  {
                                  <tr class="">
                                     <td>@i.IsciAdi</td>
                                     <td>@i.Soyadi</td>
                                     <td>@i.Maas</td>
                                      @foreach (Iletisimler il in ViewBag.Iletisim)
                                      {
                                          if (il.Id==i.IletisimID)
                                          {
                                              <td class="center">@il.Adresi</td>
                                              <td class="center">@il.PostaKodu</td>
                                              <td class="center">@il.TelefonNo</td>
                                              <td class="center">@il.WebSitesi</td> 
                                          }
                                      }
                                      <td>@i.Dogum</td>
                                      <td><a class="fancybox" href="@i.IsciResim"><i class="icon-eye-open"></i></a></td>
                                     <td><a class="btn btn-shadow btn-success" href="/Iskiler/Duzenle/@i.IsciId">Edit'le</a></td>
                                  </tr>
                                  }
                              
                              </tbody>
                          </table>
                      </div>
                  </div>
              </section>
@section scripts{
    <script src="../../Content/Admin/js/jquery.js"></script>
    <script src="/Content/Admin/assets/fancybox/source/jquery.fancybox.js"></script>
    <script type="text/javascript">
        $(function () {
            //    fancybox
            jQuery(".fancybox").fancybox();
        });

        $(".sil").click(function () {
            alert("Selam");
            var Id = $(this).data("id");

            $.ajax({
                url: "/Iskiler/Sil",
                type: "POST",
                data: { id: Id },
                success: function (veri) {
                    alert(veri + " Isimli Silindi");
                }
            })
        })

  </script>
}

